body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.input-form {
    display: flex;
    justify-content: space-around;
}

.app {
    text-align: center;
}

.app .app__logo {
    animation: app-logo-spin infinite 20s linear;
    height: 80px;
}

.app .app__header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.app .app__intro {
    font-size: large;
}

.grid {
    display: flex;
    flex-flow: column nowrap;
}

.grid .grid__users {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.grid .grid__schedulers-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.grid .grid__schedulers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
}

.grid .grid__clusters {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.user {
    margin: 10px;
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 50%;
}

.user .user__label {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.scheduler {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.scheduler .scheduler__label {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.cluster {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
}

.cluster .cluster__workers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 8px;
}

.resource-manager {
    margin: 1px;
    width: 115px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.resource-manager .resource-manager__label {
    margin-top: 0%;
}

.worker {
    margin: 1px;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.worker .worker__label {
    font-size: 0.75em;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
