body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Cluster {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 140px;
    border: 1px solid black;
    padding: 5px;
    margin-left: 45%;
}

.Cluster-label {
    align-self: center;
}

.Worker {
    margin-left: 5px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin-top: 5px;
}

.Worker-label {
    margin-top: 35%;
}

.ResourceManager {
    margin-left: 5px;
    width: 125px;
    height: 60px;
    border: 1px solid black;
    margin-top: 5px;
}

.ResourceManager-label {
    margin-top: 35%;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
